<div class="d-flex justify-content-center">
  <p>
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
</div>
<div>
  <h2>新規商品</h2>
  <div class="row">
    <% @items.each do |item| %>
      <%= image_tag item.get_image(170,170) %>
      <span class="text-center d-block"><%= item.name %></span>
      <span class="text-center d-block">￥<%= (item.price*1.1).to_i %></span>
    <% end %>
  </div>
</div>

<%= link_to "全ての商品を見る＞", items_path %>